<label class="left"><%=titles.title%></label>
<ul class="field-list checkbox-list">
    <li>
        <div class="checkbox">
            <input type="radio" value="find" id="find_activity" name="activity_type" checked="checked">
            <label for="find_activity"><%=titles.find%></label>
        </div>
    </li>
    <li>
        <div class="checkbox">
            <input type="radio" value="propose" id="propose_activity" name="activity_type">
            <label for="propose_activity"><%=titles.propose%></label>
        </div>
    </li>
</ul>